<div class="menu_section">
    <div class="clearfix"></div>
   <ul class="nav side-menu">
       <li><a class="sidebar-item" href="index.html" >
             <i class="fa fa-home"></i> Home </a></li>
     <li><a class="sidebar-item" >
             <i class="fa fa-home"></i> Users 
             <span class="fa fa-chevron-down"></span></a>
       <ul class="nav child_menu">
         <li><a href="index.html"><i class="fa fa-home"></i>Registrar profesor</a></li>
         <li><a href="index2.html">Registrar estudiante</a></li>
         <li><a href="index3.html">Activar usuarios</a></li>
         <li><a href="index3.html">Usuarios del sistema</a></li>
       </ul>
     </li>
     <li><a class="sidebar-item" ><i class="fa fa-question"></i> Questions 
             <span class="fa fa-chevron-down"></span></a>
       <ul class="nav child_menu">
         <li><a href="form.html">Importar preguntas</a></li>
         <li><a href="form_validation.html">Crear pregunta</a></li>
         <li><a href="form_advanced.html">Banco de preguntas</a></li>
       </ul>
     </li>
     <li><a class="sidebar-item" ><i class="fa fa-desktop"></i> Asignaturas 
             <span class="fa fa-chevron-down"></span></a>
       <ul class="nav child_menu">
         <li><a href="general_elements.html">Crear asignatura</a></li>
         <li><a href="general_elements.html">Crear asignatura</a></li>
       </ul>
     </li>
     <li><a class="sidebar-item" ><i class="fa fa-table"></i> Estadísticas
             <span class="fa fa-chevron-down"></span></a>
       <ul class="nav child_menu">
         <li><a href="tables.html">Usuarios</a></li>
         <li><a href="tables_dynamic.html">Preguntas</a></li>
         <li><a href="tables_dynamic.html">Preguntas</a></li>
         <li><a href="tables_dynamic.html">IRT</a></li>
       </ul>
     </li>
   </ul>
 </div>